<h1 class="agentName"><%= @agent.full_name %></h1>
<br>

<a href="#" class="load" data-id="<%=@agent.id%>">Load Destinations</a>


<div class="destinations" style="display:none">
  <%= render 'destinations/destinations' %>
</div>

<%= form_for([@agent, @destination]) do |f|  %>
   <p>
     <%= f.label :location%>
     <%= f.text_field :location%>
   </p>

   <p>
     <%= f.label :price %>
     <%= f.text_field :price %>
   </p>

   <p>
     <%= f.label :trip_length_in_days %>
     <%= f.text_field :trip_length %>
   </p>

   <p>
     <%= f.label :weather_conditions %>
     <%= f.text_field :weather %>
   </p>

   <%= f.submit :id=> "a-d-submit" %>
<% end %>


<br>

<br></br>

<a href="#" class="js-next" data-id="<%=@agent.id%>">Next Agent</a>

<br></br>

<%= link_to 'Back', agents_path %>
