<h1><%= @agent.name %></h1>
<br>

<%= link_to "Load Destinations", agent_destinations_path(@agent), class: "load_destinations" %>


<div class="destinations">
  <ol>
  </ol>
</div>

<br>

<h2> Add New Destination </h2>
<%= form_for(@destination, url: agent_destinations_path(@agent)) do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', agents_path %>
