<h1><%= @agent.name %></h1>
<br>



<!-- <%= link_to "Load Destinations", agent_destinations_path(@agent), class: "load_destinations" %> -->

<%= render 'destinations/destinations' %>

<div class="destinations">
  <ol>
  </ol>
</div>


<br>


<p>Total Price of all Destinations: $<%= @total %></p>



<br></br>

<% if current_user %>
  <h2>Add New Destination</h2>
  <!-- <%= link_to "New Destination", new_agent_destination_path(@agent) %> -->
  <%= render 'destinations/form', url: agent_destinations_path(@agent, @destination) %>
<% end %>

<%= link_to 'Back', agents_path %>
