<h1 class="agentName"><%= @agent.full_name %></h1>
<br>

<%= link_to "Load Destinations", agent_destinations_path(@agent), class: "load_destinations" %>


<div class="destinations">
  <ol>
  </ol>
</div>


<div id="more-<%= @destination.id %>">
</div>

<div class="form">
</div>

<br>

<button id="button" data-url="/agents/destinations/new">Add new destination</button>

<br></br>

<a href="#" class="js-next" data-id="<%=@agent.id%>">Next Agent</a>

<br></br>

<%= link_to 'Back', agents_path %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $("#button").on("click", function(e){
    $(".form").prepend("<%=j(render partial: 'fields')%>");
    e.preventDefault();
  })
})
</script>
