<p id="notice"><%= notice %></p>

<h1>Destinations</h1>

<% @all_destinations.each do |destination| %>
  <li><%= link_to "#{destination.location}", destination %>
    <% if current_user %>
      <%= link_to 'Edit', edit_destination_path(destination) %>
      <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>

<br></br>

<% if current_user %>
  <%= link_to "New Destination", new_destination_path %>
<% end %>
