<h1 class="destinationLocation"><%= @destination.location %></h1>

<!-- <button class="dest-more" data-id="<%=@destination.id%>">More Info</button> -->


<div id="more-<%= @destination.id %>">
</div>

<div class="price" id="price-<%= @destination.id %>"></div>

<div class="trip-length" id="trip_length-<%= @destination.id %>"></div>

<div class="weather" id="weather-<%= @destination.id %>"></div>

<br></br>

<a href="#" class="dest-more" data-id="<%=@destination.id%>">More Info</a>

<br>

<a href="#" class="js-next-destination" data-id="<%=@destination.id%>">Next Destination</a>

<br>

<% if current_user %>
  <%= link_to "Take this trip!", trip_path %>
<% end %>

<br>

<%= link_to 'Back', destinations_path %>

</li>
