<h1 class="destinationLocation"><%= @destination.location %></h1>

<a href="#" class="more">More Info</a>


<div class="more">

  <h3 class="destinationPrice">Price: $<%= @destination.price %></h3><br>

  <h3 class="destinationLength">Length: <%= @destination.trip_length %> days</h3><br>

  <h3 class="destinationWeather">Weather Conditions: <%= @destination.weather %></h3><br>

</div>


<a href="#" class="dest-next" data-id="<%=@agent.id%>">Next Agent</a>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".more").on("click", function() {
    $("div.more").append {
      var destination = data;
      $(".destinationPrice").text(destination["price"]);
      $(".destinationLength").text(destination["trip_length"]);
      $(".destinationWeather").text(destination["weather"]);
    });
  });
});
</script>


<!-- <% if @agent %>
  <h3>Travel Agent: <%= @destination.agent.name %></h3>
<% end %> -->

<% if current_user %>
  <%= link_to "Take this trip!", trip_path %>
<% end %>

</li>

<div class="more">
</div> -->
