<h1 class="destinationLocation"><%= @destination.location %></h1>

<button class="dest-more" data-id="<%=@destination.id%>">More Info</button>


<div id="more-<%= @destination.id %>">


</div>

<div class = "price"> <%= @destination.price %> </div>

<div class = "trip_length"> <%= @destination.trip_length %> </div>

<div class = "weather"> <%= @destination.weather %> </div>



<% if current_user %>
  <%= link_to "Take this trip!", trip_path %>
<% end %>

</li>
